body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    word-wrap: break-word;
}

input[type=password], input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 40px;
}

input[type=button] {
    width: 220px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

input[type=button]:hover {
    background-color: #45a049;
}

#configureSection, #configuringSection {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

#configuringSection {
    display: none;
}

#back {
    display: none;  
}



/* LOADING SPINNER */
.loading-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    padding: 30px;
  }
  .loading-roller div {
    animation: loading-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .loading-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #4569a0;
    margin: -3px 0 0 -3px;
  }
  .loading-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .loading-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .loading-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .loading-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .loading-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .loading-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .loading-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .loading-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .loading-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .loading-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .loading-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .loading-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .loading-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .loading-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .loading-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .loading-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes loading-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }