<head>
  <title>Jolt | Sensor Hub Configuration</title>
  <link rel="stylesheet" type="text/css" href="hubConfig.css">
</head>

<body>
  <h2>Sensor Hub Configuration</h1>
  <div id="configureSection">
      <label for="domain">Domain</label>
      <input type="text" name="domain" id="domain" value="https://app.joltup.com">
      <label for="ssid">Network Name (SSID)</label>
      <input type="text" name="ssid" id="ssid">
      <label for="password">Network Password</label>
      <span style='margin-left: 20px;'>
          <input type="checkbox" id="togglePassword"><label for="togglePassword">show password</label>
      </span>
      <input type="password" id="password">
      <label for="token">Hub Token</label>
      <input type="text" name="token" id="token">
      
      <input id="configureHub" type="button" value="Configure Hub" />
  </div>
  <div id="configuringSection">
    <h4>Configuration Log:</h4>
    <div id="progressText"></div>
    <div id="loading" class="loading-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <input id="back" type="button" value="Go back" />
  </div>
</body>

<script>
const SENSOR_HUB_SERVICE_UUID = 'ff5fffff-d7e2-4d93-8842-a7c4a57dfb07';

const DOMAIN_CHARACTERISTIC_UUID = 'ffffff3f-d7e2-4d93-8842-a7c4a57dfb0b';
const SSID_CHARACTERISTIC_UUID = 'ffffff3f-d7e2-4d93-8842-a7c4a57dfb09';
const PASSWORD_CHARACTERISTIC_UUID = 'ffffff3f-d7e2-4d93-8842-a7c4a57dfb0a';
const TOKEN_CHARACTERISTIC_UUID = 'ffffff3f-d7e2-4d93-8842-a7c4a57dfb0c';
const WIFI_CHARACTERISTIC_UUID = 'ffffff3f-d7e2-4d93-8842-a7c4a57dfb08';
const APPLY_CHARACTERISTIC_UUID = 'ffffff3f-d7e2-4d93-8842-a7c4a57dfb0d';

const showOrHidePassword = () => {
    const password = document.getElementById('password');
    if (password.type === 'password') {
        password.type = 'text';
    } else {
        password.type = 'password';
    }
};

const togglePassword = document.getElementById("togglePassword");
togglePassword.addEventListener("change", showOrHidePassword);

var configButton = document.getElementById("configureHub");
if (configButton.addEventListener)
    configButton.addEventListener("click", configureHub, false);
else if (configButton.attachEvent)
    configButton.attachEvent('onclick', configureHub);

var backButton = document.getElementById("back");
if (backButton.addEventListener)
    backButton.addEventListener("click", backClick, false);
else if (backButton.attachEvent)
    backButton.attachEvent('onclick', backClick);

var progressText = "";

function backClick() {
    updateProgressText("");
    document.getElementById("configureSection").style.display = "block";
    document.getElementById("configuringSection").style.display = "none";
    document.getElementById("loading").style.display = "block";
    document.getElementById("back").style.display = "none";
}

function updateProgressText(text) {
    progressText = progressText + text;
    document.getElementById("progressText").innerHTML = progressText;
}

function writeCharacteristic(service, charId, value, resolve, reject) {
    service.then(service => {
        return service.getCharacteristic(charId);
    })
    .then(characteristic => {
        var enc = new TextEncoder();
        return characteristic.writeValue(enc.encode(value));
    }).then(_ => {
        updateProgressText('Success writing: ' + value + '<br/>');
        resolve('success: ' + charId);
    })
    .catch(error => {
        document.getElementById("loading").style.display = "none";
        document.getElementById("back").style.display = "block";
        updateProgressText('Error [' + charId + ']: (' + value + ')' + error + '<br/>');
        disconnectHub();
        reject(charId + ' error: ' + error);
    });
}

bluetoothDevice = null;

function disconnectHub() {
    if (!bluetoothDevice) {
        console.log('> bluetoothDevice not set.');
        return;
    }
    if (bluetoothDevice.gatt.connected) {
        updateProgressText('Disconnecting hub.<br/>')
        bluetoothDevice.gatt.disconnect();
    } else {
        console.log('> Bluetooth Device is already disconnected');
    }
}

function configureHub() {
    progressText = "";
    document.getElementById("configureSection").style.display = "none";
    document.getElementById("configuringSection").style.display = "block";
    const domain = document.getElementById("domain").value;
    const ssid = document.getElementById("ssid").value;
    const password = document.getElementById("password").value;
    const token = document.getElementById("token").value;

    const service = navigator.bluetooth.requestDevice({filters: [{services: [SENSOR_HUB_SERVICE_UUID]}]})
    .then(device => {
        bluetoothDevice = device;
        return device.gatt.connect();
    })
    .then(server => {
        return server.getPrimaryService(SENSOR_HUB_SERVICE_UUID);
    })

    const domainPromise = new Promise(function(resolve, reject) {
        writeCharacteristic(service, DOMAIN_CHARACTERISTIC_UUID, domain, resolve, reject);
    });

    domainPromise.then(() => {
        const ssidPromise = new Promise(function(resolve, reject) {
            writeCharacteristic(service, SSID_CHARACTERISTIC_UUID, ssid, resolve, reject);
        });
        return ssidPromise;
      })
      .then(() => {
        const passwordPromise = new Promise(function(resolve, reject) {
            writeCharacteristic(service, PASSWORD_CHARACTERISTIC_UUID, password, resolve, reject);
        });
        return passwordPromise;
      })
      .then(() => {
        const tokenPromise = new Promise(function(resolve, reject) {
            writeCharacteristic(service, TOKEN_CHARACTERISTIC_UUID, token, resolve, reject);
        });
        return tokenPromise;
      })
      .then(() => {
        const applyPromise = new Promise(function(resolve, reject) {
            writeCharacteristic(service, APPLY_CHARACTERISTIC_UUID, 'apply', resolve, reject);
        });
        return applyPromise;
      })
      .then(result => {
        document.getElementById("loading").style.display = "none";
        updateProgressText('Apply Success: ' + result + '<br/>');
        updateProgressText('<br/>- FINISHED CONFIGURING -' + '<br/>');
        disconnectHub();
    })
    .catch(error => {
        document.getElementById("loading").style.display = "none";
        document.getElementById("back").style.display = "block";
        updateProgressText('Apply error: ' + error + '<br/>')
        updateProgressText('<br/>- ERROR CONFIGURING -' + '<br/>');
        disconnectHub();
    });
}
</script>